* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'roboto', 'arial';
  background-color: rgb(100, 171, 247);
}

.header-style {
  width: 100%;
  margin-bottom: 80px;
  height: 80px;
  background-color: rgb(61, 112, 221);
}

.title-style {
  margin: 0;
  font-size: 45px;
  text-align: center;
  color:  white;
  padding: 10px;
  letter-spacing: 10px;
}

.button-style-plus-minus {
  width: 70px;
  padding: 16px;
  margin: 10px;
  background-color: rgb(61, 112, 221);
  border: none;
  font-weight: bold;
  font-size: 35px;
  color: white;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  cursor: pointer;
}

.button-style {
  font-family: 'roboto','arial';
  padding: 16px;
  margin-top: 40px;
  background-color: rgb(61, 112, 221);
  border: none;
  font-size: 35px;
  color: white;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  cursor: pointer;
}

.button-style-plus-minus:active {
  opacity: 0.7;
}

.button-style:active {
  opacity: 0.7;
}

.container-style {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.counter-text-style {
  font-family: 'roboto', 'arial';
  color: white;
  font-size: 40px;
  padding: 16px;
}

.footer-style {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 5px;
  background-color: rgb(28, 69, 156);
  text-align: center;
}

.text-footer-style {
  margin: 0;
  color: white;
}

.icon-style {
  padding-right: 5px;
  width: 30px;
  height: 30px;
}